body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FEF9EC;
  }

  p {
    font-weight: bold;
    padding: 0;
  }

  .harris-campaign {
    display: block; 
    margin: auto;
    padding: 20px;
  }
  
  .cta-container {
    background-color: #D9E6FB;
    text-align: center;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .cta-container p {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    color: #08388B;
  }
  
  .donation-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    gap: 10px; /* Adjust gap as needed */
  }
  
  .donation-button {
    background-color: #08388B;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    padding: 7px 25px;
    font-size: 16px;
    cursor: pointer;
  }

  .donation-button.active {
    background-color: #FFFFFF; 
    color: #08388B;
    border: 2px solid #08388B;
  }
  
  #donate-button {
    background-color: #C00C15;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .cta-container {
      padding: 20px;
    }
  
    .donation-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .donation-button {
      width: 100%;
      margin-bottom: 10px;
    }
  
    #donate-button {
      width: 100%;
    }
  }
  